/*
    Css for the bill
*/
.bill-box {
    max-width: 800px;
    margin: auto;
    padding: 30px 30px 60px 30px;
    border: 1px solid #eee;
    font-size: 16px;
    line-height: 24px;
    color: #555;
}

.bill-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.bill-box table td {
    padding: 15px;
    vertical-align: top;
}

.bill-box table tr.information td:nth-child(2) {
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 50%;
    text-align: left;
}

.bill-box table tr td:nth-child(2) {
    text-align: right;
}

.bill-box table tr.top table td {
    padding-bottom: 20px;
}

.bill-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.bill-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding-right: 25px;
    font-weight: bold;
}

.bill-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.bill-box .total {
    border-top: 2px solid #eee;
    font-weight: bold;
    float: right;
    padding: 15px 15px 40px 50px;
}
