.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    padding-top: 5px;
}

.card-body.fit{
    width: 120px;
}

.card-top {
    padding-top: 20px;
}

.align-card {
    float: left;
    padding: 2px;
    overflow: auto;
}

.sidebar {
    background-color: #4688C9;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.top-table {
    padding-top: 25px;
    padding-left: 50px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#img_new {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 130px;
    padding-top: 5px;
}

.media-body {
    text-align: justify;
}

#nav_bar {
    background-color: #4688C9;
    border-color: #4688C9;
} 

.nav {
    padding-right: 0px;
}

.navbar-nav {
    float: right;
    background-color: #4688C9;
}

.navbar-header {
    width: 25%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-right: 250px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*
    Css for the left navbar
*/
#sidebar {
    background-color: #4688C9;

}

#sidebar_second {
    background-color: #fff;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    #sidebar_second {
        display: flex;
        flex-direction: row;
    }
}

/*@media only screen and (min-width: 768px) {
    #sidebar_second {
        position: fixed;
    }
}*/

/*
    Css for the search bar in the main navbar
*/
.search-bar {
    display: inline-flex;
    align-items: baseline;
}

.row-content-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-content-layout > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
