
@{
    ViewBag.Title = "ChooseGetDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choix d'une date de retrait</h2>
<hr />
<h4>Choisissez une date pour venir prendre votre commande en boutique</h4>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            @using (Html.BeginForm("AddRent", "Rent"))
            {
                <!--<div class="form-group">
                    <div class="input-group date">
                        <input type='text' class="form-control" id="datepicker" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>-->

                <input type='text' class="form-control" id="datepicker" />
                <input type="submit" value="Valider" class="btn btn-primary" />
            }
        </div>
        <script type="text/javascript">
            $(function () {
                console.log('ici');
                $('#datepicker').datepicker({
                    dateFormat: 'yy-dd-mm',
                    onSelect: function (datetext) {
                        var d = new Date(); // for now
                        var h = d.getHours();
                        h = (h < 10) ? ("0" + h) : h;

                        var m = d.getMinutes();
                        m = (m < 10) ? ("0" + m) : m;

                        var s = d.getSeconds();
                        s = (s < 10) ? ("0" + s) : s;

                        datetext = datetext + " " + h + ":" + m + ":" + s;
                        $('#datepicker').val(datetext);
                    },
                });
            });
        </script>
    </div>
</div>

