@model videorama.ViewModels.RentsViewModel

@{
    ViewBag.Title = "MyRents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Mes locations</h2>
    <hr size=2 align=left width="60%" />
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.IdRent)
        {
            <table class="table">
                <tr>
                    <th>
                        N° de location
                    </th>
                    <th>
                        Produit
                    </th>
                    <th>
                        Date de retour
                    </th>
                    <th>
                        Facture
                    </th>
                    <th></th>
                </tr>

                @foreach (var items in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => items.Item1.IdRent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => items.Item2.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => items.Item1.ReturnBackDate)
                        </td>
                    </tr>
                }
            </table>
            <a href=@Url.Action("DownloadBill", "Rents",
            new { idC = 1, idR = item }) class="btn btn-primary">Télécharger</a>
        }
        <!-- idC (customer) à mettre dynamic quand idUser sera connu
    et idR (rent) dynamic quand le bouton sera dans la page Rents/Detail/x -->
    </div>
</div>