@model IEnumerable<Videorama.Models.Rent>
@using System.Security.Claims

@{
    ViewBag.Title = "Locations en cours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string id = "";
    int idUser = 0;

    if (Request.IsAuthenticated)
    {
        var claimIdentity = User.Identity as ClaimsIdentity;

        if (claimIdentity != null)
        {
            id = claimIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
            idUser = Convert.ToInt32(id);
        }
    }
}
<div class="container">
    <div class="row">
        <h2>Locations en cours</h2>
    </div>

    <div class="row">
        <div class="col-md-8">
            @foreach (var item in Model)
            {
                <table class="table no-margin">
                    <tr>
                        <td>
                            <b>Location n° @Html.DisplayFor(modelItem => item.IdRent)</b>
                        </td>
                        <td>
                            <b>
                                Date de retour:
                                @Html.DisplayFor(modelItem => item.ReturnBackDate)
                            </b>
                        </td>
                        <td>
                            <a href=@Url.Action("DownloadBill", "Rents",
                        new {idR = item.IdRent }) target="_blank" class="btn btn-primary">
                                Voir la facture
                            </a>
                        </td>
                        <th></th>
                    </tr>
                </table>
                <table class="table table-products">
                    <tr>
                        <td><b>Produits</b></td>
                    </tr>
                    @{ Videorama.Models.RentDb dbRent = new Videorama.Models.RentDb();
                        List<Videorama.Models.Product> list = dbRent.GetRentProducts(item.IdRent);
                    }
                    @foreach (var product in list)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => product.Title)
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>