@model IEnumerable<Videorama.Models.Product>

@{
    ViewBag.Title = "Liste des " + ViewData["type"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>Liste des @ViewData["type"]</h2>
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="align-card">
                    <div class="card" style="width: 18rem;">
                        <img id="img_new" src="../Content/Images/@String.Format("{0}",item.Picture)" alt="image">
                        <div class="card-body fit">
                            @Html.ActionLink(item.Title, "Details", "Products",
                                new { id = item.IdProduct }, null)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>